<h1>List Books</h1>
<form action="{{ path('listB') }}" method="GET">
    <label for="search">Search for a book by reference:</label>
    <input type="text" name="search" id="search">
    <button type="submit">Search</button>
</form>
<table border="1">
<tr>
    <th>TITLE</th>
    <th>PUBLICATION DATE</th>
    <th>CATEGORY</th>
    <th>PUBLISHED</th>
    <th>AUTHOR</th>
    <th>action</th>
</tr>

{% for book in publishedBooks %}
<tr>
    <td>{{ book.title }}</td>
    <td>{{ book.publicationdate | date('M-d-Y') }}</td>
    <td>{{ book.category }}</td>
    <td>{{ book.published ? 'Yes' : 'No' }}</td>
    <td>{{ book.author.username }}</td> 
    <td><a href={{path('updateB',{'ref':book.ref})}}>update</a><td>
    <td><a href={{path('removeB',{'ref':book.ref})}}>remove</a><td>
    <td><a href={{path('showB',{'ref':book.ref})}}>Show</a><td>

</tr>
{% endfor %}
</table>
<p>number of published books {{numpub}}</p>
<p>number of unpublished books {{numUnpub}}</p>

<a href="{{ path('addb') }}">Add Book</a>
